@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  box-sizing: border-box;
}

@layer base {
  :root {
    --gray---gray-0: rgba(248, 249, 250, 1);
    --gray---gray-1: rgba(241, 243, 245, 1);
    --gray---gray-2: rgba(233, 236, 239, 1);
    --gray---gray-3: rgba(222, 226, 230, 1);
    --gray---gray-4: rgba(206, 212, 218, 1);
    --gray---gray-5: rgba(173, 181, 189, 1);
    --gray---gray-6: rgba(134, 142, 150, 1);
    --gray---gray-7: rgba(73, 80, 87, 1);
    --gray---gray-8: rgba(52, 58, 64, 1);
    --gray---gray-9: rgba(33, 37, 41, 1);
    --red---red-0: rgba(255, 245, 245, 1);
    --red---red-1: rgba(255, 227, 227, 1);
    --red---red-2: rgba(255, 201, 201, 1);
    --red---red-3: rgba(255, 168, 168, 1);
    --red---red-4: rgba(255, 135, 135, 1);
    --red---red-5: rgba(255, 107, 107, 1);
    --red---red-6: rgba(250, 82, 82, 1);
    --red---red-7: rgba(240, 62, 62, 1);
    --red---red-8: rgba(224, 49, 49, 1);
    --red---red-9: rgba(201, 42, 42, 1);
    --pink---pink-0: rgba(255, 240, 246, 1);
    --pink---pink-1: rgba(255, 222, 235, 1);
    --pink---pink-2: rgba(252, 194, 215, 1);
    --pink---pink-3: rgba(250, 162, 193, 1);
    --pink---pink-4: rgba(247, 131, 172, 1);
    --pink---pink-5: rgba(240, 101, 149, 1);
    --pink---pink-6: rgba(230, 73, 128, 1);
    --pink---pink-7: rgba(214, 51, 108, 1);
    --pink---pink-8: rgba(194, 37, 92, 1);
    --pink---pink-9: rgba(166, 30, 77, 1);
    --grape---grape-0: rgba(248, 240, 252, 1);
    --grape---grape-1: rgba(243, 217, 250, 1);
    --grape---grape-2: rgba(238, 190, 250, 1);
    --grape---grape-3: rgba(229, 153, 247, 1);
    --grape---grape-4: rgba(218, 119, 242, 1);
    --grape---grape-5: rgba(204, 93, 232, 1);
    --grape---grape-6: rgba(190, 75, 219, 1);
    --grape---grape-7: rgba(174, 62, 201, 1);
    --grape---grape-8: rgba(156, 54, 181, 1);
    --grape---grape-9: rgba(134, 46, 156, 1);
    --violet---violet-0: rgba(243, 240, 255, 1);
    --violet---violet-1: rgba(229, 219, 255, 1);
    --violet---violet-2: rgba(208, 191, 255, 1);
    --violet---violet-3: rgba(177, 151, 252, 1);
    --violet---violet-4: rgba(151, 117, 250, 1);
    --violet---violet-5: rgba(132, 94, 247, 1);
    --violet---violet-6: rgba(121, 80, 242, 1);
    --violet---violet-7: rgba(112, 72, 232, 1);
    --violet---violet-8: rgba(103, 65, 217, 1);
    --violet---violet-9: rgba(95, 61, 196, 1);
    --indigo---indigo-0: rgba(237, 242, 255, 1);
    --indigo---indigo-1: rgba(219, 228, 255, 1);
    --indigo---indigo-2: rgba(186, 200, 255, 1);
    --indigo---indigo-3: rgba(145, 167, 255, 1);
    --indigo---indigo-4: rgba(116, 143, 252, 1);
    --indigo---indigo-5: rgba(92, 124, 250, 1);
    --indigo---indigo-6: rgba(76, 110, 245, 1);
    --indigo---indigo-7: rgba(66, 99, 235, 1);
    --indigo---indigo-8: rgba(59, 91, 219, 1);
    --indigo---indigo-9: rgba(54, 79, 199, 1);
    --blue---blue-0: rgba(231, 245, 255, 1);
    --blue---blue-1: rgba(208, 235, 255, 1);
    --blue---blue-2: rgba(165, 216, 255, 1);
    --blue---blue-3: rgba(116, 192, 252, 1);
    --blue---blue-4: rgba(77, 171, 247, 1);
    --blue---blue-5: rgba(51, 154, 240, 1);
    --blue---blue-6: rgba(34, 139, 230, 1);
    --blue---blue-7: rgba(28, 126, 214, 1);
    --blue---blue-8: rgba(25, 113, 194, 1);
    --blue---blue-9: rgba(24, 100, 171, 1);
    --cyan---cyan-0: rgba(227, 250, 252, 1);
    --cyan---cyan-1: rgba(197, 246, 250, 1);
    --cyan---cyan-2: rgba(153, 233, 242, 1);
    --cyan---cyan-3: rgba(102, 217, 232, 1);
    --cyan---cyan-4: rgba(59, 201, 219, 1);
    --cyan---cyan-5: rgba(34, 184, 207, 1);
    --cyan---cyan-6: rgba(21, 170, 191, 1);
    --cyan---cyan-7: rgba(16, 152, 173, 1);
    --cyan---cyan-8: rgba(12, 133, 153, 1);
    --cyan---cyan-9: rgba(11, 114, 133, 1);
    --teal---teal-0: rgba(230, 252, 245, 1);
    --teal---teal-1: rgba(195, 250, 232, 1);
    --teal---teal-2: rgba(150, 242, 215, 1);
    --teal---teal-3: rgba(99, 230, 190, 1);
    --teal---teal-4: rgba(56, 217, 169, 1);
    --teal---teal-5: rgba(32, 201, 151, 1);
    --teal---teal-6: rgba(18, 184, 134, 1);
    --teal---teal-7: rgba(12, 166, 120, 1);
    --teal---teal-8: rgba(9, 146, 104, 1);
    --teal---teal-9: rgba(8, 127, 91, 1);
    --green---green-0: rgba(235, 251, 238, 1);
    --green---green-1: rgba(211, 249, 216, 1);
    --green---green-2: rgba(178, 242, 187, 1);
    --green---green-3: rgba(140, 233, 154, 1);
    --green---green-4: rgba(105, 219, 124, 1);
    --green---green-5: rgba(81, 207, 102, 1);
    --green---green-6: rgba(64, 192, 87, 1);
    --green---green-7: rgba(55, 178, 77, 1);
    --green---green-8: rgba(47, 158, 68, 1);
    --green---green-9: rgba(43, 138, 62, 1);
    --lime---lime-0: rgba(244, 252, 227, 1);
    --lime---lime-1: rgba(233, 250, 200, 1);
    --lime---lime-2: rgba(216, 245, 162, 1);
    --lime---lime-3: rgba(192, 235, 117, 1);
    --lime---lime-4: rgba(169, 227, 75, 1);
    --lime---lime-5: rgba(148, 216, 45, 1);
    --lime---lime-6: rgba(130, 201, 30, 1);
    --lime---lime-7: rgba(116, 184, 22, 1);
    --lime---lime-8: rgba(102, 168, 15, 1);
    --lime---lime-9: rgba(92, 148, 13, 1);
    --yellow---yellow-0: rgba(255, 249, 219, 1);
    --yellow---yellow-1: rgba(255, 243, 191, 1);
    --yellow---yellow-2: rgba(255, 236, 153, 1);
    --yellow---yellow-3: rgba(255, 224, 102, 1);
    --yellow---yellow-4: rgba(255, 212, 59, 1);
    --yellow---yellow-5: rgba(252, 196, 25, 1);
    --yellow---yellow-6: rgba(250, 176, 5, 1);
    --yellow---yellow-7: rgba(245, 159, 0, 1);
    --yellow---yellow-8: rgba(240, 140, 0, 1);
    --yellow---yellow-9: rgba(230, 119, 0, 1);
    --orange---orange-0: rgba(255, 244, 230, 1);
    --orange---orange-1: rgba(255, 232, 204, 1);
    --orange---orange-2: rgba(255, 216, 168, 1);
    --orange---orange-3: rgba(255, 192, 120, 1);
    --orange---orange-4: rgba(255, 169, 77, 1);
    --orange---orange-5: rgba(255, 146, 43, 1);
    --orange---orange-6: rgba(253, 126, 20, 1);
    --orange---orange-7: rgba(247, 103, 7, 1);
    --orange---orange-8: rgba(232, 89, 12, 1);
    --orange---orange-9: rgba(217, 72, 15, 1);
  }
}
